# Docker Files
docker-compose.yml
.dockerignore
Dockerfile

# Development Files
.vscode
*.md
**/__pycache__
requirements-core.txt

# Environments
.git
.gitattributes
.gitignore
.env
.env*
.venv*
venv*
*firebase-adminsdk*.json

# Data Files
*.csv
*.log
data
output
binance_public_data/data

# v1 Files
Krakenbot
*_v1*
Visualise_individual_strategy
