output.txt
tempkeys
year_data/APEUSDT_full.csv
year_data/BTCUSDT_full.csv
year_data/CHZUSDT_full.csv
year_data/DOGEUSDT_full.csv
year_data/ETHUSDT_full.csv
year_data/MANAUSDT_full.csv
year_data/LINKUSDT_full.csv
year_data/UNIUSDT_full.csv
