tempkeys
Kraken_OHLCVT
.DS_Store
.env

year_data/APEUSDT_full.csv
year_data/BTCUSDT_full.csv
year_data/CHZUSDT_full.csv
year_data/DOGEUSDT_full.csv
year_data/ETHUSDT_full.csv
year_data/MANAUSDT_full.csv
year_data/LINKUSDT_full.csv
year_data/UNIUSDT_full.csv

coin_profit.csv
coin_profit_may2020.csv

output.txt
kraken-react-app/src/tempkeys.txt
kraken-react-app/server/tempkeys.txt

trade_logs.log
data/trade_logs_full_backup.log

Krakenbot/__pycache__
Krakenbot/unzipper
Krakenbot/Binance_data_concatenator.py

*.sqlite3
