**/tempkeys.txt
Kraken_OHLCVT
**/.DS_Store
.env
venv

year_data/APEUSDT_full.csv
year_data/BTCUSDT_full.csv
year_data/CHZUSDT_full.csv
year_data/DOGEUSDT_full.csv
year_data/ETHUSDT_full.csv
year_data/MANAUSDT_full.csv
year_data/LINKUSDT_full.csv
year_data/UNIUSDT_full.csv

coin_profit.csv
coin_profit_may2020.csv

output.txt
kraken-react-app/src/tempkeys.txt
kraken-react-app/server/tempkeys.txt

trade_logs.log
data/trade_logs_full_backup.log

**/__pycache__
__pycache__
Krakenbot/unzipper
Krakenbot/Binance_data_concatenator.py

*.sqlite3
*trade_logs.csv
strategies_visualization
coin_profit_recommended.csv
performance_metrics_logs.csv
*firebase-adminsdk*.json
Krakenbot/krakenpair.py
debug_log.txt
trading_pairs.txt
/data
/output
/talib
data/Kraken/*.csv
Krakenbot/kraken_data_api
Krakenbot/LocalScripts/data/*/*.csv
